.card-swap-container {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  transform-origin: center center;
  perspective: 1000px;
  overflow: visible;
}

.card-swap-item {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 1.5rem;
  transform-style: preserve-3d;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  box-shadow: 4px 4px 0px 0px #132338;
}

@media (max-width: 1024px) {
  .card-swap-container {
    transform: scale(0.95) translate(50%, 50%);
  }
}

@media (max-width: 768px) {
  .card-swap-container {
    transform: scale(0.88) translate(50%, 50%);
  }
}

@media (max-width: 480px) {
  .card-swap-container {
    transform: scale(0.82) translate(50%, 50%);
  }
}

@media (max-width: 380px) {
  .card-swap-container {
    transform: scale(0.74) translate(50%, 50%);
  }
}
